#margen{
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(218, 218, 218);
    
}

#hola{

}
#holi{
    
}
.image{
    width: 200px;
    height: 210px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin-left: 43%;

}


#body{
    background-color: white;

}


.informacion{

    background-color: silver;
    margin: 10px;
    width: 100%;
    height: 240px;
}
#ejemplo{
    float: left;
    margin-left: 100px;
    margin-bottom: 100px;
}

#titulo{
    text-align: center;

}

#titulo2{
    text-align: center;

}
#titulo3{
    text-align: center;

}
#titulo4{
    text-align: center;

}

#height{
    height: 40%;
}
#titi{
    text-align: center;
}

#color{
    background-color: white;
}
#mio{
    margin-bottom: 10%;
    float: left;
    margin: 5px;
}
#caja{
    float: left;
    margin: 10px;
    width: 45%;
    height: 215px;
    border: solid; 
}

.caja1{
    float: left;
    display: block;
    margin: 10px;
    width: 50%;
    height: 215px;
    border: solid; 
}

.caja2{
    float: left;
    display: block;
    margin: 10px;
    width: 45%;
    height: 215px;
    border: solid; 
}

#caja3{
    float: left;
    display: block;
    margin: 40px;
    margin-left: 55px;
    margin-right: 55px;
    width: 90%;
    height: 320px;
    border: solid;
}

.lineas{
    border: 1px solid black;
}

.medio{
    text-align: center;
}
#fot{
    border-color: black;
    border-style: solid;
    border-width: 5px;
    padding: 25px;
    margin-left: 43%;
    
}

#spacio{
    border-color: black;
    border-style: solid;
}


#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:center;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position: static;
}

.nav{
    right:-140px;
    top:0px;
}

.fotoos{
    margin: 50px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin-left: 55px;
    margin-right: 55px;
}

#title{
    text-align: center;
}



#header {
    margin-left: 35%;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav{
    right:-140px;
    top:0px;
}

